<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Informaci&oacute;n</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1>PRUEBA SABER 11</h1>
  </div>
  <ion-row><ion-col class="ion-text-center">
    <br>
    <h4>Prueba Saber 11 es un proyecto enfocado a estudiantes bachilleres con el prop&oacute;sito de prepararlos para la presentaci&oacute;n de la prueba de estado Saber 11.</h4>
    <br>
    <h4>Prueba Saber 11 es una actualizaci&oacute;n del proyecto desarrollado por la fundaci&oacute;n Karisma siendo aplicado en sistemas inform&aacute;ticos actuales compatible con equipos de escritorio, port&aacute;tiles y dispositivos m&oacute;viles a trav&eacute;s de una aplicaci&oacute;n y almacenamiento en la nube.</h4>
    <br>
    <h4>Este proyecto tiene como objetivo la adaptaci&oacute;n para que los estudiantes del grado 11 lleguen a presentar la prueba de estado con una mayor visi&oacute;n para que el desarrollo de la prueba sea m&aacute;s eficiente e intuitiva.</h4>
  </ion-col></ion-row>
</ion-content>
