<ion-header>

</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input name="password" [type]="showPassword ? 'text':'password'" [(ngModel)]="user.password"></ion-input>
    <ion-icon slot="end" name="eye" [name]="passwordToggleIcon" (click)="togglePassword()"> </ion-icon>
  </ion-item>
  
  <ion-button expand="block" (click)="onLogin()">Ingresar</ion-button>
  <ion-button [routerLink]="['/registration']" expand="block" fill="outline">Registrarse</ion-button>
  <ion-button [routerLink]="['/home']" contextmenu="center">X</ion-button>
</ion-content>
