<ion-header translucent>
  <ion-toolbar>
    <ion-title>Preguntas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">2</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">4</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">6</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">8</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">10</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">11</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">12</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">13</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">14</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">15</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">16</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">17</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">18</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">19</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="medium">20</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
