:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
header {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 1.5em;
    margin-left: 10px;
    text-transform: uppercase;
}
section {
    margin-top: 1em;
    margin-bottom: 2.5em;
    margin-left: 15px;
    margin-right: 15px;
}
section:not(.full-width),
    .full-width > header {
    padding: 0 10px;
}
#container-buttons {
    margin-bottom: 0.9em;
}
ion-button{
    --border-radius: 10px;
}