<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Simulacro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section>
    <div id="container-buttons">
      <ion-button size="large" expand="block" color="medium" (click)="presentActionSheet()">Prueba</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button size="large" expand="block" color="medium">Correcci&oacute;n</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button size="large" expand="block" color="medium">Puntaje</ion-button>
    </div>
  </section>

</ion-content>
