<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/simulacrum"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button icon="bookmark-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="music">
        <ion-label>Time</ion-label>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="movies">
        <ion-label>Previous</ion-label>
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="movies">
        <ion-label>Next</ion-label>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="games">
        <ion-label>Questions</ion-label>
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  

</ion-content>