<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Introduzca su correo</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Introduzca su contraseña</ion-label>
    <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar su contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <div>
    <ion-button size="large" expand="block" (click)="onRegister()">Registrar</ion-button>
    <ion-button size="large" [routerLink]="['/login']" expand="block" fill="outline">Login</ion-button>
</div>
</ion-content>
