<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Introduzca su email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Introduzca su contraseña</ion-label>
    <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar su contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <div>
    <ion-button size="large"(click)="onRegister()">Registrar</ion-button>
    <ion-button size="large" [routerLink]="['/registration']" expand="block" fill="outline">registrarse</ion-button>
</div>
</ion-content>
