#container {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
}

#contaner.container-row {
  align-items: center;
}

#container-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}