<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section>
    <div id="container-buttons">
      <ion-button size="large" expand="block">Introducci&oacute;n</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button size="large" expand="block">Informaci&oacute;n</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button [routerLink]="['/review']" size="large" expand="block">Repaso</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button size="large" expand="block">Estudiar</ion-button>
    </div>
    <div id="container-buttons">
      <ion-button [routerLink]="['/simulacrum']" size="large" expand="block">Simulacro</ion-button>
    </div>
  </section>
</ion-content>
